.forget{
    padding: 10px;
}
.forget-navbar{
    height: 50px;
    width: 100%;
    display: flex;
}
.logo{
    width: 55%;
}
.logo-box{
    width: 112px;
    height: 50px;
}
.forget-i{
    width: 45%;
    margin: -6px -4px;
    padding: 0 16px 0 4px;
}
.forget-input{
    width: 180px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    border:1px solid #ced0d4;

}
.btn-primary{
    width: 68px;
    margin: 10px;
    padding: -10px;
    background-color: #1877f2;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
}
.forget-main{
    background-color: #e9ebee;
    height: 436px;
    width: 100%;
    position: relative;
    margin-top: 5px;
}
.forget-main-1{
    margin: 0 296px;
    padding: 10px 0 0;
    background-color: #fff;
    width: 500px;
    height: 276px;
    border-radius: 10px;

    position: absolute;
    top: 80px;
    left: 210px;
}
.forget-acc{
    text-decoration: none;
    width: 120px;
    color: #1877f2;
}
.forget-text-1{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    color: #162643;
    width: 500px;
    height: 60px;
    padding: 18px;
    font-size: 20px;
    line-height: 24px;
    margin-top: -15px;
    font-weight: 700;
}
hr{
    margin-top: -18px;
    border:.5px solid #e9ebee;
}
.forget-text-2{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    color: #162643;
    width: 460px;
    height: 40px;
    padding: 18px;
    font-size: 18px;
    line-height: 24px;
}
.forget-input-1{
    width: 460px;
    height: 52px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 15px;
    border:1px solid #ced0d4;
    padding: 18px;
}
.forget-input::-webkit-input-placeholder{
    padding: 10px;
    color: #8a8d91c5;
}
.forget-input-1::-webkit-input-placeholder{
    padding: 10px;
    color: #8a8d91c5;
}
input + hr{
    margin-top: 30px;
}
.btn-primary-1{
    width: 90px;
    margin: 10px;
    padding: 10px;
    background-color: #1877f2;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
}
.btn{
    width: 80px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 300px;
    padding: -10px;
    background-color: #e4e6eb;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: #4b4f56;
    font-weight: 600;
    border: none;
}